/* add styles here */

body {
    font: 1em Helvetica, sans-serif;
    padding: 4px;
}

#wrap {
    width: 960px;
    margin: 0 auto;
}

h2 {
    color: #7f7f7f;
    font-size: 22pt;
    font-weight: 100;
    margin:3px;
    letter-spacing:3px;
}

h3 {
    color: #7f7f7f;
    font-size: 16pt;
    font-weight: 100;
}

#account {
    float: right;
    padding: 15px;
    margin: 5px;
    vertical-align: middle;
}

.accountcontainer {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: green;
    background-color: rgba(0, 128, 0, 0.20);
}

.subtitleicon {
    float: left;
    margin-right: 10px;
}

#titlelogo {
    float: left;
    margin-right: 5px;
    margin-left:15px;
}

#titlebar {
    height: 60px;
    vertical-align: middle;
}

#main {
    background: #fff;
    padding: 8px;
    width: 65%;
    float: left;
}

#sidebar {
    margin: 4px;
    padding: 4px;
    float: right;
    width: 30%;
    background-color: #e5e5e5;
}

.graphimg {
    margin: 5px;
}

#pauseimg:hover {
    background-color: #d0222a;
}

.pausedescription {
    color: #d0222a;
}

#playimg:hover {
    background-color: #79b942;
}

.playdescription {
    color: #79b942;
}

#screenshotimg:hover {
    background-color: #3fafe3;
}

.screenshotdescription {
    color: #3fafe3;
}

#notificationpanel {
    min-height: 300px;
}


#chartparametercontainer {
    padding: 4px;
    width: 100%;
}

#newnotification {
    padding: 4px;
    width: 45%;
}

#recentnotifications {
    float: right;
    padding: 4px;
    width: 45%;
}

.formlabel {
    width: 100px;
}

#graphdiv {
}

.datacontainer {
    border-left-style: solid;
    border-left-color: #0070c0;
    border-left-width: 3px;
    padding: 4px;
    margin: 2px;
}

    .datacontainer h2 {
        color: #0070c0;
        /*background-color: rgba(0, 112, 192, 0.20);*/
    }

    .datacontainer h3 {
        color: #0070c0;
        /*background-color: rgba(0, 112, 192, 0.20);*/
    }

#registereddevices {
    height: 50%;
}



.notificationcontainer {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #c0504d;
    padding: 4px;
    margin: 2px;
}

    .notificationcontainer h2 {
        color: #c0504d;
        /*background-color: rgba(192, 80, 77, 0.20);*/
    }

    .notificationcontainer h3 {
        color: #c0504d;
        /*background-color: rgba(192, 80, 77, 0.20);*/
    }

    .notificationcontainer table {
        background-color: rgba(192, 80, 77, 0.20);
        padding: 4px;
    }

#notificationtypes {
    height: 50%;
}



/*form {
    padding: 4px;
    margin: 6px;
}*/

div.avatar {
    padding: 2px;
    padding-bottom: 0;
    margin-right: 4px;
    float: left;
    font-size: 0.78em;
    width: 60px;
    height: 60px;
    text-align: center;
}

    div.avatar .name {
        padding-top: 2px;
    }

    div.avatar img {
        margin: 0 auto;
        padding: 0;
        width: 40px;
        height: 40px;
    }

ul {
    list-style: none;
    padding: 0px;
}

li {
    /*background: #fff;*/
    padding: 4px;
    margin: 4px 0;
}

.notificationcontainer li {
    border-left: 3px solid #c0504d;
}

.datacontainer li {
    border-left: 3px solid #0070c0;
}

a {
    color: black;
}

.notificationcontainer a:hover {
    color: #c0504d;
}

.datacontainer a:hover {
    color: #0070c0;
}

.accountcontainer a:hover {
    color: green;
}
